body{
    margin: 0;
    padding: 0;
    background-color: #010103;
    color: beige;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
}
span{
    height: 50px;
    
}
