{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% include 'navbar.html' %}

    <div class="conatiner d-flex justify-content-center mt-4">
        <h1>Desktop A<span class="" style="color: red;">pp</span>lication</h1>
    </div>
    <div class="container">
        <hr class="bg-light">
    </div>
    <div class="container mt-4">
        <div class="col-12">
            <img src="{% static 'images/desktop-proj.jpg' %}" class="card-img-top" alt="">
        </div>
        <div class="col-12">
            <p class="lead mt-5">
                A desktop application is a dedicated software program designed to run on a standalone computer, enabling
                end-users to execute specific tasks.

                These applications cater to a diverse range of functions, from productivity tools like word editors and
                photo editing software to leisure-oriented gaming apps.

                Upon acquiring a new computer or laptop, a pre-installed set of applications is typically included on
                the desktop. Additionally, users have the flexibility to augment their desktop functionality by
                downloading and installing various applications directly from the Internet or purchasing them from
                software vendors.
            </p>
        </div>
    </div>

    <div class="container d-flex justify-content-center mt-5">
        <h1>Famous Desktop A<span style="color:red">pp</span>s</h1>
    </div>
    <div class="container">
        <hr class="bg-light">
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12 col-4 col-sm-12 col-md-6 col-lg-4 mt-5">
                <div class="card bg-dark text-light">
                    <div class="card-image">
                        <img src="{% static 'images/excel.jpg' %}" height="180rem" class="card-img-top" alt="">
                        <h3 class="card-header ">
                            Excel Desktop
                        </h3>
                        <div class="card-body">
                            <p class="">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque maxime maiores
                                minima neque quidem</p>
                            <div class="card-footer">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-4 col-sm-12 col-md-6 col-lg-4 mt-5">
                <div class="card bg-dark text-light">
                    <div class="card-image">
                        <img src="{% static 'images/call-of-duty-desktop.jpg' %}" height="180rem" class="card-img-top"
                            alt="">
                        <h3 class="card-header ">
                            Call Of Duty
                        </h3>
                        <div class="card-body">
                            <p class="">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque maxime maiores
                                minima neque quidem</p>
                            <div class="card-footer">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-4 col-sm-12 col-md-6 col-lg-4 mt-5">
                <div class="card bg-dark text-light">
                    <div class="card-image">
                        <img src="{% static 'images/music.jpg' %}" height="180rem" class="card-img-top" alt="">
                        <h3 class="card-header ">
                            Music Editing
                        </h3>
                        <div class="card-body">
                            <p class="">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque maxime maiores
                                minima neque quidem</p>
                            <div class="card-footer">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-4 col-sm-12 col-md-6 col-lg-4 mt-5">
                <div class="card bg-dark text-light">
                    <div class="card-image">
                        <img src="{% static 'images/photoshop.jpg' %}" height="180rem" class="card-img-top" alt="">
                        <h3 class="card-header ">
                            Photoshop
                        </h3>
                        <div class="card-body">
                            <p class="">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque maxime maiores
                                minima neque quidem</p>
                            <div class="card-footer">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-4 col-sm-12 col-md-6 col-lg-4 mt-5">
                <div class="card bg-dark text-light">
                    <div class="card-image">
                        <img src="{% static 'images/pubg-desktop.jpg' %}" height="180rem" class="card-img-top" alt="">
                        <h3 class="card-header ">
                            Pubg Desktop
                        </h3>
                        <div class="card-body">
                            <p class="">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque maxime maiores
                                minima neque quidem</p>
                            <div class="card-footer">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-4 col-sm-12 col-md-6 col-lg-4 mt-5">
                <div class="card bg-dark text-light">
                    <div class="card-image">
                        <img src="{% static 'images/design-app.jpg' %}" height="180rem" class="card-img-top" alt="">
                        <h3 class="card-header ">
                            Designing
                        </h3>
                        <div class="card-body">
                            <p class="">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque maxime maiores
                                minima neque quidem</p>
                            <div class="card-footer">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {% include 'footer.html' %}
</body>

</html>