{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% include 'navbar.html' %}

    <div class="conatiner d-flex justify-content-center mt-4">
        <h1>Mobile A<span class="" style="color: red;">pp</span>lication</h1>
    </div>
    <div class="container">
        <hr class="bg-light">
    </div>
    <div class="container mt-4">
        <div class="col-12">
            <img src="{% static 'images/mobile-proj.jpg' %}" class="card-img-top" alt="">
        </div>
        <div class="col-12">
            <p class="lead mt-5">
                A mobile app (or mobile application) is a software application developed specifically for use on small,
                wireless computing devices, such as smartphones and tablets, rather than desktop or laptop computers.

                Mobile apps are sometimes categorized according to whether they are web-based or native apps, which are
                created specifically for a given platform. A third category, hybrid apps, combines elements of both
                native
                and web apps.

                In today's digital age, mobile apps are an essential part of most people's daily lives. From social
                networking and entertainment to productivity and business, mobile apps play a vital role in how we
                interact
                with technology.
            </p>
        </div>
    </div>

    <div class="container d-flex justify-content-center mt-5">
        <h1>Famous Mobile A<span style="color:red">pp</span>s</h1>
    </div>
    <div class="container">
        <hr class="bg-light">
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12 col-4 col-sm-12 col-md-6 col-lg-4 mt-5">
                <div class="card bg-dark text-light">
                    <div class="card-image">
                        <img src="{% static 'images/pubg.jpg' %}" height="180rem" class="card-img-top" alt="">
                        <h3 class="card-header ">
                            Pubg Mobile
                        </h3>
                        <div class="card-body">
                            <p class="">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque maxime maiores
                                minima neque quidem</p>
                            <div class="card-footer">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-4 col-sm-12 col-md-6 col-lg-4 mt-5">
                <div class="card bg-dark text-light">
                    <div class="card-image">
                        <img src="{% static 'images/call-of-duty.jpg' %}" height="180rem" class="card-img-top" alt="">
                        <h3 class="card-header ">
                            Call Of Duty
                        </h3>
                        <div class="card-body">
                            <p class="">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque maxime maiores
                                minima neque quidem</p>
                            <div class="card-footer">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-4 col-sm-12 col-md-6 col-lg-4 mt-5">
                <div class="card bg-dark text-light">
                    <div class="card-image">
                        <img src="{% static 'images/ludo.jpg' %}" height="180rem" class="card-img-top" alt="">
                        <h3 class="card-header ">
                            Lodu King
                        </h3>
                        <div class="card-body">
                            <p class="">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque maxime maiores
                                minima neque quidem</p>
                            <div class="card-footer">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-4 col-sm-12 col-md-6 col-lg-4 mt-5">
                <div class="card bg-dark text-light">
                    <div class="card-image">
                        <img src="{% static 'images/chess.jpg' %}" height="180rem" class="card-img-top" alt="">
                        <h3 class="card-header ">
                            Chess Play
                        </h3>
                        <div class="card-body">
                            <p class="">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque maxime maiores
                                minima neque quidem</p>
                            <div class="card-footer">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-4 col-sm-12 col-md-6 col-lg-4 mt-5">
                <div class="card bg-dark text-light">
                    <div class="card-image">
                        <img src="{% static 'images/monopoly.jpg' %}" height="180rem" class="card-img-top" alt="">
                        <h3 class="card-header ">
                            Monopoly Game
                        </h3>
                        <div class="card-body">
                            <p class="">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque maxime maiores
                                minima neque quidem</p>
                            <div class="card-footer">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-4 col-sm-12 col-md-6 col-lg-4 mt-5">
                <div class="card bg-dark text-light">
                    <div class="card-image">
                        <img src="{% static 'images/facebook.jpg' %}" height="180rem" class="card-img-top" alt="">
                        <h3 class="card-header ">
                            Facebook
                        </h3>
                        <div class="card-body">
                            <p class="">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque maxime maiores
                                minima neque quidem</p>
                            <div class="card-footer">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-4 col-sm-12 col-md-6 col-lg-4 mt-5">
                <div class="card bg-dark text-light">
                    <div class="card-image">
                        <img src="{% static 'images/instagram.jpg' %}" height="180rem" class="card-img-top" alt="">
                        <h3 class="card-header ">
                            Instagram
                        </h3>
                        <div class="card-body">
                            <p class="">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque maxime maiores
                                minima neque quidem</p>
                            <div class="card-footer">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-4 col-sm-12 col-md-6 col-lg-4 mt-5">
                <div class="card bg-dark text-light">
                    <div class="card-image">
                        <img src="{% static 'images/twitter.jpg' %}" height="180rem" class="card-img-top" alt="">
                        <h3 class="card-header ">
                            Twitter
                        </h3>
                        <div class="card-body">
                            <p class="">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque maxime maiores
                                minima neque quidem</p>
                            <div class="card-footer">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-4 col-sm-12 col-md-6 col-lg-4 mt-5">
                <div class="card bg-dark text-light">
                    <div class="card-image">
                        <img src="{% static 'images/youtube.jpg' %}" height="180rem" class="card-img-top" alt="">
                        <h3 class="card-header ">
                            Youtube
                        </h3>
                        <div class="card-body">
                            <p class="">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque maxime maiores
                                minima neque quidem</p>
                            <div class="card-footer">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {% include 'footer.html' %}
</body>

</html>